# API Credentials & Environment Variables Matrix
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency Engine Folders
node_modules/
jspm_packages/
web_modules/

# Local Log Repositories & Debug Outputs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Multer Local Storage Upload Files Catcher
uploads/